# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
.env/

# Data & model artifacts
data/*.csv
models/*.pth
*.raw
*.log
*.op.raw

# LTSpice temp files
*.net~
*.asc~

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
